soap-ws/src/main/resources/wsdl/DataService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="https://spring-boot-soap.alekseybykov.github.io/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="DataService" targetNamespace="https://spring-boot-soap.alekseybykov.github.io/">

	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		           xmlns:tns="https://spring-boot-soap.alekseybykov.github.io/"
		           targetNamespace="https://spring-boot-soap.alekseybykov.github.io/"
		           version="1.0"
		           elementFormDefault="unqualified">

			<xs:complexType name="data">
				<xs:sequence>
					<xs:element minOccurs="0" name="name" type="xs:string"/>
					<xs:element minOccurs="0" name="description" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>

			<xs:element name="createDataRequest" type="tns:createDataRequest"/>
			<xs:complexType name="createDataRequest">
				<xs:sequence>
					<xs:element name="dataId" type="xs:integer" />
					<xs:element name="data" type="tns:data"/>
				</xs:sequence>
			</xs:complexType>

			<xs:element name="createDataResponse" type="tns:createDataResponse"/>
			<xs:complexType name="createDataResponse">
				<xs:sequence>
					<xs:element name="result" type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>

			<xs:element name="getDataRequest" type="tns:getDataRequest"/>
			<xs:complexType name="getDataRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="dataId" type="xs:integer"/>
				</xs:sequence>
			</xs:complexType>

			<xs:element name="getDataResponse" type="tns:getDataResponse"/>
			<xs:complexType name="getDataResponse">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="data" type="tns:data"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="createDataRequest">
		<wsdl:part element="tns:createDataRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createDataResponse">
		<wsdl:part element="tns:createDataResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="getDataRequest">
		<wsdl:part element="tns:getDataRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDataResponse">
		<wsdl:part element="tns:getDataResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="DataServicePortType">
		<wsdl:operation name="createData">
			<wsdl:input message="tns:createDataRequest" name="createDataRequest"/>
			<wsdl:output message="tns:createDataResponse" name="createDataResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getData">
			<wsdl:input message="tns:getDataRequest" name="getDataRequest"/>
			<wsdl:output message="tns:getDataResponse" name="getDataResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="DataServiceSoapBinding" type="tns:DataServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getData">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getDataRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getDataResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createData">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="createDataRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="createDataResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="DataService">
		<wsdl:port binding="tns:DataServiceSoapBinding" name="DataServicePort">
			<soap:address location="http://localhost:8080/soapws/dataservice"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
